<div [class]="filterClass">
  <div class="top">&nbsp;</div>
  <div>
    <h3>FILTRO:</h3>
    <section>
      <form>
        <label>Identificador inicial</label>
        <input name="id1"
               [value]="id1"
               type="text" />

        <label>Identificador final</label>
        <input name="id2"
               [value]="id2"
               type="text" />


        <input value="filtrar"
               type="button"
               (click)="filtrar.emit(2)" />
      </form>

    </section>
  </div>
</div>
