<!-- Logo + Description + Navigation -->
<div id="top">
  <h1 id="logo"><a>GESTIÓN DE PROYECTOS</a>GESTIÓN DE PROYECTOS</h1>
  <div id="description"
       class="separator">
    <h2 class="notext">one step ahead</h2>
  </div>
  <div id="navigation">
    <ul>
      <li><a routerLink="/"
           [ngClass]="{ 'active' : formHomeActive }"
           (click)="formHomeActive = true; formProjectsActive =false"><span>home</span></a></li>
      <li><a routerLink="projects"
           [ngClass]="{ 'active' : formProjectsActive }"
           (click)="formProjectsActive =true; formHomeActive = false"><span>proyectos</span></a></li>
    </ul>
  </div>
</div>

<h2>GESTIÓN DE PROYECTOS</h2>

<!-- END Header -->
