<!-- Logo + Description + Navigation -->
<div id="top">
  <h1 id="logo"><a href="#">GESTIÓN DE PROYECTOS</a>GESTIÓN DE PROYECTOS</h1>
  <div id="description" class="separator">
    <h2 class="notext">one step ahead</h2>
  </div>
  <div id="navigation">
    <ul>
        <li><a href="#" class="active"><span>proyecto</span></a></li>
        <li><a href="#"><span>tareas</span></a></li>
        <li><a href="#"><span>búsquedas</span></a></li>       
    </ul>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<!-- END Logo + Description + Navigation -->
<!-- Header -->
<div id="header">
  <!-- Slider -->
  <div id="slider">
    <div class="top">
      <div class="bot">
        <div id="slider-holder">
          <ul>
              <li>
                <div class="cl">&nbsp;</div>
                <div class="slide-info">
                  <h2 >proyecto 1</h2>
                  <p>descripción del proyecto </p>
                  <p><a href="#" class="more">Wiki</a></p>
                </div>
                
                <div class="cl">&nbsp;</div>
              </li>
             
          </ul>
        </div>
        <div class="slider-controls">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END Slider -->
</div>
<!-- END Header -->
