<div class="top">&nbsp;</div>
<div>
  <h3>NUEVO PROYECTO:</h3>
  <section>
    <form>
      <label>Identificador</label>

      <label>Nombre</label>
      <input name="nombre"
             value="nombreNuevo"
             type="text"
             [(ngModel)]="nombreNuevo" />


      <input style="font-size: 0.8em"
             value="Crear proyecto"
             type="button"
             (click)="saveProject.emit({name: nombreNuevo})" />
    </form>
  </section>
</div>
<div *ngIf="mensajeVista!=''">
  <h2>{{mensajeVista}}</h2>
</div>
<div [hidden]="!idCreado$">
  <h2>Se ha creado el proyecto con identificador: {{idCreado$ | async}}</h2>
</div>
